body {
  margin: 0;
  padding: 0;
  background-color: #1E1E1F;
  /* color: #F2F4F5; */
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

#root {
  margin: 0 24px;
  position: relative;
  min-height: 100vh;
  background-color: #1E1E1F;
  color: #1E1E1F;
}